.colunaRoxa{
    background-color: rgb(133, 0, 135);
    border: 2px solid gainsboro ;
    color: #ffff;
}

.colunaAzul{
    background-color: rgb(4, 188, 195);
    border: 2px solid gainsboro ;
    color: #ffff;
}


h1{
    color:pink
}